body{
    font-family: Arial;
    text-align:center;
    background:#111;
    color:white;
}

form{
    margin:30px;
}

input{
    width:300px;
    padding:10px;
}

button{
    padding:10px 20px;
    cursor:pointer;
}

.movies{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:20px;
}

.card{
    width:200px;
}

.card img{
    width:100%;
    border-radius:10px;
}